{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>
<body>
  <section id="about">
    <h2>About Me</h2>
    <p>As I mentioned in the home page, this is Naitik Kaythwal, an International Undergrad Senior at UofM Graduating May 2024 majoring in Computer Science and Mathematics with a minor in Finance. I have a current GPA of 3.92 and in this section, I'll talk more about my educational background, skills, university honors, etc! </p>
  </section>

  <section id="experience">
    <h2>Experience</h2>

    <div class="job">
      <img src="https://media.licdn.com/dms/image/C510BAQEJCA5v-4p8jQ/company-logo_200_200/0/1631317527277?e=1721260800&v=beta&t=8pjO3Ax3-Hc-0jtu5yXJlP4VEa9g50mKF8cdMQVpsDg" alt="Herff College of Engineering logo"><br>
    <br>
    <br>
      <h3>Research Assistant and Lead Developer</h3>
      <p>Herff College of Engineering · Full-time</p>
      <p>Jan 2024 - Present · 4 mos</p>
      <ul>
        <li>Leading a team in designing a neural machine capable of predicting long-term transient chaos in nonlinear systems</li>
        <li>Facilitating weekly updates with stakeholders to ensure a consistent and smooth advancement of the project</li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="job">
      <img src="https://media.licdn.com/dms/image/C510BAQEJCA5v-4p8jQ/company-logo_200_200/0/1631317527277?e=1721260800&v=beta&t=8pjO3Ax3-Hc-0jtu5yXJlP4VEa9g50mKF8cdMQVpsDg" alt="The University of Memphis logo"><br>
    <br>
    <br>
      <h3>Teaching Assistant</h3>
      <p>The University of Memphis · Part-time</p>
      <p>Sep 2022 - Present · 1 yr 8 mos</p>
      <ul>
        <li>Helping grade assignments and exams for students in Discrete Mathematics and Intro to Programming classes</li>
        <li>Communicating and Resolving 100% of students’ queries</li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="job">
      <img src="https://media.licdn.com/dms/image/C560BAQFGQRmskqU1bg/company-logo_200_200/0/1631438761469?e=1721260800&v=beta&t=fC6Fc6qwXgV4odouxh2lprjV6eGZuRsdIYCbCx5pF9U" alt="UMRF Ventures logo"><br>
    <br>
    <br>
      <h3>DevOps Analyst Intern</h3>
      <p>UMRF Ventures · Part-time</p>
      <p>Jan 2023 - May 2023 · 5 mos</p>
      <ul>
        <li>Worked as a vendor for FedEx managing data configurations applications using Splunk to visualize each team’s data</li>
        <li>Optimized logging queries by rewriting internal dashboard logic, saving over 1 million dollars per fiscal quarter</li>
        <li>Wrote python scripts to manage the main company repositories refactoring portions of the code and saving employee time by 20%</li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="job">
      <img src="https://media.licdn.com/dms/image/C510BAQEJCA5v-4p8jQ/company-logo_200_200/0/1631317527277?e=1721260800&v=beta&t=8pjO3Ax3-Hc-0jtu5yXJlP4VEa9g50mKF8cdMQVpsDg" alt="Fogelman College of Business & Economics, University of Memphis logo"><br>
    <br>
    <br>
      <h3>Financial Technology Analyst Intern</h3>
      <p>Fogelman College of Business & Economics, University of Memphis · Part-time</p>
      <p>May 2022 - Jul 2022 · 3 mos</p>
      <ul>
        <li>Maintained a database consisting of around 8000 stocks</li>
        <li>Used SAS and MySQL to add a new variable each day from COMPUSTAT and BLOOMBERG and rank stocks on the basis of that</li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="job">
      <img src="https://media.licdn.com/dms/image/C560BAQHxUlnzTw-4fg/company-logo_200_200/0/1653341738713/st_jude_childrens_research_hospital_logo?e=1721260800&v=beta&t=X1yDOb1_hqRsCJhNrfNJPdR0NF0n82wkvdzzUxnqLMU" alt="St. Jude Children's Research Hospital logo"><br>
    <br>
    <br>
      <h3>Product Manager Intern</h3>
      <p>St. Jude Children's Research Hospital · Internship</p>
      <p>May 2023 - Jul 2023 · 3 mos</p>
      <ul>
        <li>Managed a cross-functional AGILE team to develop a cutting-edge product, boosting researchers’ ability to measure publication success by 50%</li>
        <li>Led product management responsibilities, including conducting market research, user interviews, defining product requirements, prototyping, user testing, <br>incorporating feedback, acceptance testing, deployment, and product launch with release notes</li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="job">
      <img src="https://media.licdn.com/dms/image/C510BAQEJCA5v-4p8jQ/company-logo_200_200/0/1631317527277?e=1721260800&v=beta&t=8pjO3Ax3-Hc-0jtu5yXJlP4VEa9g50mKF8cdMQVpsDg" alt="UMRF Ventures logo"><br>
    <br>
    <br>
      <h3>Technology Solutions Engineer</h3>
      <p>The University of Memphis · Part-time</p>
      <p>Mar 2022 - Sep 2022 · 7 mos</p>
      <ul>
        <li>Provided IT support to non-technical internal users through desk side support services</li>
        <li>Resolved diverse range of technical issues across multiple systems and applications for customers and end-users achieving a 95% resolution rate</li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <div class="job">
      <img src="https://media.licdn.com/dms/image/C510BAQEJCA5v-4p8jQ/company-logo_200_200/0/1631317527277?e=1721260800&v=beta&t=8pjO3Ax3-Hc-0jtu5yXJlP4VEa9g50mKF8cdMQVpsDg" alt="Fintech Analyst - Team Lead logo"><br>
    <br>
    <br>
      <h3>Fintech Analyst - Team Lead</h3>
      <p>Memphis, Tennessee, United States</p>
      <p>Dec 2021 - May 2022 · 6 mos</p>
      <ul>
        <li>Led the 5-member University of Memphis Team in the Inter-College South-Eastern Hedge Fund competition 2022 <br> aiming to come up with investment strategies maximising stock returns while mitigating the risks</li>
        <li>Achieved average annual returns of 130% higher than the market by extracting the growth potential of undervalued stocks, <br> diversifying and forming long and short portfolios (130-30)</li>
        <li>Won the silver medal out of 90+ participating universities across the world and a cash prize of $5000</li>
      </ul>
    </div>

  </section>


  <section id="education">
    <h2>Education</h2>
    <div class="education-entry">
      <h3>Bachelor of Science - BS, Mathematics and Computer Science</h3>
      <p>The University of Memphis</p>
      <p>Aug 2021 - May 2024</p>
      <p>GPA: 3.92</p>
    </div>
  </section>


  <section id="projects">
    <h2>Projects</h2>
    <div class="project">
      <h3>LIME Image Classifier | Honors Summer Research Fellowship | <a href="https://github.com/NaitikKaythwal/LIME-Image-Classifier">GitHub</a></h3>
      <p>Memphis, TN</p>
      <ul>
        <li>Employed SHAP and LIME to comprehensively analyze and interpret image classification models in both current and past research projects</li>
        <li>Effectively employed a variety of data types, including images, numerical data, and facial recognition, alongside the CIFAR-10 dataset. <br> Utilized LIME and SHAP to provide insightful explanations for model predictions</li>
        <li>Designed an interactive user interface that empowers users to express preferences regarding predictions, enabling continuous model enhancement <br> by integrating user feedback into explanation mechanisms achieved using LIME</li>
      </ul>
    </div>

    <div class="project">
      <h3>Item-Item-Collaborative-Filtering | <a href="https://github.com/NaitikKaythwal/item-item-collaborative-filtering">GitHub</a></h3>
      <p>Memphis, TN</p>
      <ul>
        <li>Developed an Item-based collaborative filtering algorithm which predicts user-ratings for movies based on Netflix’s dataset</li>
        <li>The algorithm is trained on the training dataset and uses cosine similarity and K-Nearest Neighbors algorithm to predict the ratings  for a given movie <br>located in the testing dataset</li>
      </ul>
    </div>
  </section>


  <section id="skills">
    <h2>Technical Skills</h2>
    <p>Languages: Python, C, C#, C++, SQL, SAS, HTML, CSS, JS</p>
    <p>Libraries: Bloomberg, MS Office, Tensorflow, Git, WRDS, Compustat, Pandas, sklearn, Matplotlib, CRSP</p>
  </section>


  <section id="university-honors">
    <h2>University Honors</h2>
    <div class="volunteer-entry">
      <h3>President of the Association of Computer Machinery</h3>
      <p>The University of Memphis</p>
      <p>Sep 2022 - Present · 1 yr 8 mos</p>
      <p>Science and Technology</p>
    </div>

    <div class="volunteer-entry">
      <h3>President of the Hindu Student Organization</h3>
      <p>The University of Memphis</p>
      <p>Oct 2022 - Present · 1 yr 7 mos</p>
      <p>Arts and Culture</p>
    </div>

    <div class="volunteer-entry">
      <h3>Honors Ambassador</h3>
      <p>The University of Memphis</p>
      <p>Aug 2023 - Present · 9 mos</p>
      <p>Education</p>
    </div>
  </section>

</body>
</html>
{% endblock %}
