{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <section id="home">
    <h2>Welcome!</h2>
    <p>This is Naitik Kaythwal, an International Undergrad Senior at UofM Graduating May 2024. I'm majoring in Computer Science and Mathematics with a minor in Finance. I'm also currently working Part Time as a Teaching Assistant and a grader for one of my CS professor for COMP 1900 and as a research assistant under a Mechanical Engineer Professor. I'm also a part of the University of Memphis team that manages a $500K TVA investment portfolio where I get to use my Financial as well as technical skill to try and predict the market. I'm passionate about Software Engineering and Machine Learning or generally anything to do with computers. Contact me for collaborations! This is my interactive portfolio. Scroll down to see my work!</p>
  </section>
</body>
</html>
{% endblock %}

