{% extends 'base.html' %}
{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Work</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <section id="work">
    <h2>Portfolio</h2>
    <div id="filter-buttons">
      <button class="filter-button" data-filter="all">All</button>
      <button class="filter-button" data-filter="portfolio">TVA portfolio management</button>
      <button class="filter-button" data-filter="research">Mechanical Engineering Research</button>
      <button class="filter-button" data-filter="grading">Teaching Assistant and Grading</button>
    </div>
    <div id="gallery">
        <div class="item portfolio">
          <div class="overlay">Ranking the entire list of stocks using SQL. <br> Technologies used: WRDS, Python, SQL, Excel </div>
          <img src="{% static 'images/portfolio.png' %}" alt="Graphic Design Project">
      </div>
      <div class="item research">
          <div class="overlay">Predicting chaotic systems using neural networks<br> Technologies used: Neural Networks and Machine Learning, LSTM, Tensorflow, PyPlot</div>
          <img src="{% static 'images/Research MEchE.png' %}" alt="Web Design Project">
      </div>
      <div class="item grading">
          <div class="overlay">Grader's POV <br> Technologies used: Canvas, Outlook</div>
          <img src="{% static 'images/grader.png' %}" alt="Teaching Assistant">
      </div>
    </div>
  </section>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>

{% endblock %}
